# Web scraping and Extracting Data using APIs

Web scraping is used for extraction of relevant data from web pages. If you require some data from a web page in a public domain, web scraping makes the process of data extraction quite convenient. The use of web scraping, however, requires some basic knowledge of the structure of HTML pages.

To install the necessary packages, run the following commands in a terminal window.

python3.11 -m pip install pandas
python3.11 -m pip install bs4

# Importing Libraries

Import the following four libraries by adding lines of code noted below to webscraping_movies.pyfile.

In [6]:
import requests
import sqlite3
import pandas as pd
from bs4 import BeautifulSoup

# Initialization of known entities

Declare a few entities at the beginning.

In [9]:
url = 'https://web.archive.org/web/20230902185655/https://en.everybodywiki.com/100_Most_Highly-Ranked_Films'
db_name = 'Movies.db'
table_name = 'Top_50'
csv_path = 'top_50_films.csv'
df = pd.DataFrame(columns=["Average Rank","Film","Year"])
count = 0

# Loading the webpage for Webscraping

To access the required information from the web page, load the entire web page as an HTML document in python using the requests.get().text function and then parse the text in the HTML format using BeautifulSoup to enable extraction of relevant information.

In [12]:
html_page = requests.get(url).text
data = BeautifulSoup(html_page, 'html.parser')

# Scraping of required information

Write the loop to extract the appropriate information from the web page. The rows of the table needed can be accessed using the find_all() function with the BeautifulSoup object using the statements below.

In [15]:
tables = data.find_all('tbody')
rows = tables[0].find_all('tr')

Here, the variable tables gets the body of all the tables in the web page and the variable rows gets all the rows of the first table.

Iterate over the rows to find the required data. Use the code shown below to extract the information.

In [18]:
for row in rows:
    if count<50:
        col = row.find_all('td')
        if len(col)!=0:
            data_dict = {"Average Rank": col[0].contents[0],
                         "Film": col[1].contents[0],
                         "Year": col[2].contents[0]}
            df1 = pd.DataFrame(data_dict, index=[0])
            df = pd.concat([df,df1], ignore_index=True)
            count+=1
    else:
        break

The code functions as follows.

1. Iterate over the contents of the variable rows.
2. Check for the loop counter to restrict to 50 entries.
3. Extract all the td data objects in the row and save them to col.
4. Check if the length of col is 0, that is, if there is no data in a current row. This is important since, many timesm there are merged rows that are not apparent in the web page appearance.
5. Create a dictionary data_dict with the keys same as the columns of the dataframe created for recording the output earlier and corresponding values from the first three headers of data.
6. Convert the dictionary to a dataframe and concatenate it with the existing one. This way, the data keeps getting appended to the dataframe with every iteration of the loop.
7. Increment the loop counter.
8. Once the counter hits 50, stop iterating over rows and break the loop.

Print the contents of the dataframe using the following:

In [21]:
print(df)

   Average Rank                                           Film  Year
0             1                                  The Godfather  1972
1             2                                   Citizen Kane  1941
2             3                                     Casablanca  1942
3             4                         The Godfather, Part II  1974
4             5                            Singin' in the Rain  1952
5             6                                         Psycho  1960
6             7                                    Rear Window  1954
7             8                                 Apocalypse Now  1979
8             9                          2001: A Space Odyssey  1968
9            10                                  Seven Samurai  1954
10           11                                        Vertigo  1958
11           12                                    Sunset Blvd  1950
12           13                                   Modern Times  1936
13           14                             Lawrence of Arabia  1962
14           15                             North by Northwest  1959
15           16                                      Star Wars  1977
16           17                                       Parasite  2019
17           18                               Schindler's List  1993
18           19  Lord of the Rings: The Fellowship of the Ring  2001
19           20                           Shawshank Redemption  1994
20           21                          It's a Wonderful Life  1946
21           22                                   Pulp Fiction  1994
22           23                              Avengers: Endgame  2019
23           24                                    City Lights  1931
24           25                One Flew Over the Cuckoo's Nest  1975
25           26                                     Goodfellas  1990
26           27                        Raiders of the Lost Ark  1981
27           28                                   12 Angry Men  1957
28           29                       The Silence of the Lambs  1991
29           30                                    Taxi Driver  1976
30           31                            Saving Private Ryan  1998
31           32                     E.T. the Extra Terrestrial  1982
32           33                                          Alien  1979
33           34              Spider-Man: Into the Spider-verse  2018
34           35                                   Blade Runner  1982
35           36                               Double Indemnity  1944
36           37                                The Dark Knight  2008
37           38                               The Wizard of Oz  1939
38           39  Star Wars: Episode V- The Empire Strikes Back  1980
39           40                                  The Searchers  1956
40           41                             Mad Max: Fury Road  2015
41           42                                      Inception  2010
42           43          Lord of the Rings: Return of the King  2003
43           44                                     The Matrix  1999
44           45                                     Fight Club  1999
45           46                             Back to the Future  1985
46           47                          It Happened One Night  1934
47           48                The Good, the Bad, and the Ugly  1966
48           49              Lord of the Rings: The Two Towers  2002
49           50                                  All About Eve  1950

# Storing the data

After the dataframe has been created, save it to a CSV file using the following command:

In [24]:
df.to_csv(csv_path)

The variable csv_path had been defined earlier

To store the required data in a database, initialize a connection to the database, save the dataframe as a table, and then close the connection. This can be done using the following code:

In [27]:
conn = sqlite3.connect(db_name)
df.to_sql(table_name, conn, if_exists='replace', index=False)
conn.close()

# Execute the code

Execute the code using the statement below in a terminal window. Make sure the current directory is /home/project/.

python3.11 webscraping_movies.py