# Accessing Databases using Python Script

Using databases is an important and useful method of sharing information. To preserve repeated storage of the same files containing the required data, it is a good practice to save the said data on a database on a server and access the required subset of information using database management systems.

# Setting Up

Usually, the database for storing data would be created on a server to which the other team members would have access. In lab, the database is created on a dummy server using SQLite3 library.

Run the following command in the terminal. Make sure the current directory in the terminal window is /home/project/.

wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMSkillsNetwork-PY0221EN-Coursera/labs/v2/INSTRUCTOR.csv

Further, to read the CSV and interact with the database, you'll need the pandas library. This library will first have to be installed in the Cloud IDE framework. For this, run the below mentioned statement in a terminal window.

python3.11 -m pip install pandas

# Python Scripting: Database initiation

In [1]:
import sqlite3
import pandas as pd

In [2]:
# Connect to the SQLite3 service
conn = sqlite3.connect('STAFF.db')

# Python Scripting: Create and Load the table

To create a table in the database, we first need to have the attributes of the required table. Attributes are columns of the table. Along with their names, the knowledge of their data types are also required.

In [5]:
# Define table parameters
table_name = 'INSTRUCTOR'
attribute_list = ['ID', 'FNAME', 'LNAME', 'CITY', 'CCODE']

# Reading the CSV file

To read the CSV using Pandas, you use the read_csv() function. Since this CSV does not contain headers, you can use the keys of the attribute_dict dictionary as a list to assign headers to the data.

In [7]:
# Read the CSV data
file_path = 'INSTRUCTOR.csv'
df = pd.read_csv(file_path, names = attribute_list)

# Loading the data to a table

The pandas library provides easy loading of its dataframes directly to the database. For this, you may use the to_sql() method of the dataframe object.

However, while you load the data for creating the table, you need to be careful if a table with the same name already exists in the database. If so, and it isn't required anymore, the tables should be replaced with the one you are loading here. You may also need to append some information to an existing table. For this purpose, to_sql() function uses the argument if_exists.

As you need to create a fresh table upon execution, add the following commands to the code. The print command is optional, but helps identify the completion of the steps of code until this point.

In [9]:
# Load the CSV to the database
df.to_sql(table_name, conn, if_exists = 'replace', index =False)
print('Table is ready')

Table is ready

# Python Scripting: Running basic queries on data

Now that the data is uploaded to the table in the database, anyone with access to the database can retrieve this data by executing SQL queries.

Some basic SQL queries to test this data are SELECT queries for viewing data, and COUNT query to count the number of entries.

SQL queries can be executed on the data using the read_sql function in pandas.

Now, run the following tasks for data retrieval on the created database.

1. Viewing all the data in the table.

In [11]:
# Query 1: Display all rows of the table
query_statement = f"SELECT * FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

SELECT * FROM INSTRUCTOR
    ID    FNAME      LNAME      CITY CCODE
0    1      Rav      Ahuja   TORONTO    CA
1    2     Raul      Chong   Markham    CA
2    3     Hima  Vasudevan   Chicago    US
3    4     John     Thomas  Illinois    US
4    5    Alice      James  Illinois    US
5    6    Steve      Wells  Illinois    US
6    7  Santosh      Kumar  Illinois    US
7    8    Ahmed    Hussain  Illinois    US
8    9    Nancy      Allen  Illinois    US
9   10     Mary     Thomas  Illinois    US
10  11  Bharath      Gupta  Illinois    US
11  12   Andrea      Jones  Illinois    US
12  13      Ann      Jacob  Illinois    US
13  14     Amit      Kumar  NewDelhi    IN

2. Viewing only FNAME column of data.

In [13]:
# Query 2: Display only the FNAME column for the full table.
query_statement = f"SELECT FNAME FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

SELECT FNAME FROM INSTRUCTOR
      FNAME
0       Rav
1      Raul
2      Hima
3      John
4     Alice
5     Steve
6   Santosh
7     Ahmed
8     Nancy
9      Mary
10  Bharath
11   Andrea
12      Ann
13     Amit

3. Viewing the total number of entries in the table.

In [15]:
# Query 3: Display the count of the total number of rows.
query_statement = f"SELECT COUNT(*) FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

SELECT COUNT(*) FROM INSTRUCTOR
   COUNT(*)
0        14

Append some data to the table. Consider the following.

a. Assume the ID is 100.

b. Assume the first name, FNAME, is John.

c. Assume the last name as LNAME, Doe.

d. Assume the city of residence, CITY is Paris.

e. Assume the country code, CCODE is FR.

Use the following statements to create the dataframe of the new data.

In [17]:
# Define data to be appended
data_dict = {'ID' : [100],
            'FNAME' : ['John'],
            'LNAME' : ['Doe'],
            'CITY' : ['Paris'],
            'CCODE' : ['FR']}
data_append = pd.DataFrame(data_dict)

Use the following statement to append the data to the INSTRUCTOR table.

In [19]:
# Append data to the table
data_append.to_sql(table_name, conn, if_exists = 'append', index =False)
print('Data appended successfully')

Data appended successfully

Repeat the COUNT query. You will observe an increase by 1 in the output of the first COUNT query and the second one.

In [21]:
# Query 4: Display the count of the total number of rows.
query_statement = f"SELECT COUNT(*) FROM {table_name}"
query_output = pd.read_sql(query_statement, conn)
print(query_statement)
print(query_output)

SELECT COUNT(*) FROM INSTRUCTOR
   COUNT(*)
0        15

Add the following line at the end of db_code.py to close the connection to the database.

In [23]:
# Close the connection
conn.close()

# Code Execution

Execute db_code.py from the terminal window using the following command.

python3.11 db_code.py